{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
  <h3>My Courses</h3>

{% for item in purchases  %}
<div class="card mb-3">
    <div class="card-body">
        <h5>{{ item.course.title }}</h5>
        <p>{{ item.course.description|truncatechars:100 }}</p>
        <p class="fw-bold">₹{{ item.course.price }}</p>

        

        <form method="post"
              action="{% url 'remove_my_course' item.course.id %}"
              class="d-inline">
            {% csrf_token %}
            <button type="submit"
                    class="btn btn-danger"
                    onclick="return confirm('Remove this course?');">
                Remove
            </button>
        </form>
    </div>
</div>
{% empty %}
<p>You have no courses.</p>
{% endfor %}


{% endblock %}
