{% extends 'base.html' %}

{% block title %}student page{% endblock %} 

{% block content %}

<h1>this is students page</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum at qui iusto in consectetur aspernatur non quam esse, animi id dolores? Ea reiciendis, quibusdam asperiores debitis ipsum consequatur quia harum.
Enim accusamus obcaecati harum esse sed ipsam eos impedit architecto alias nesciunt, autem minus magnam id provident a, ea laudantium? Recusandae, earum iste. Omnis, nulla. Fuga, quod exercitationem. Natus, vitae?
Nostrum voluptates et praesentium dolor, earum porro architecto officiis quos aperiam placeat deserunt incidunt, sapiente quod nesciunt sit cupiditate illum laborum cum ipsa vitae, minus iusto aliquid voluptas fugit. A.
Rerum, blanditiis tempora. Corporis est veniam odit quam fuga vero explicabo vel, asperiores perspiciatis adipisci numquam incidunt, consequuntur doloribus ipsa, et non repellendus dolorem laudantium! Pariatur cumque laboriosam tempore quasi.
Ut aliquid reiciendis, maxime placeat ab exercitationem porro consequatur molestias consequuntur. Officiis nemo quasi labore voluptatem quia quam laudantium, vero dolor illum commodi. Suscipit, architecto amet exercitationem expedita iusto fugit.
Voluptatibus enim fugiat non repellendus reprehenderit. Aperiam impedit tempore ad sapiente laudantium! Maxime optio sint tempora? Sint, ratione ea? Deserunt impedit eos quos debitis sapiente libero molestias eum aperiam tempore.
Recusandae consectetur rerum quae hic dolore fugiat facere perspiciatis velit, ducimus at, minus eligendi, ex cumque non laboriosam saepe tenetur a. Voluptates expedita quo delectus sapiente iure quis cum ipsa.
Cum ab earum illo iure maiores fugit eligendi qui, sapiente eius beatae voluptatibus sequi autem obcaecati sunt, ratione neque non reiciendis placeat mollitia ex officiis enim minus dolore. Qui, esse.
Similique, vel excepturi delectus nemo mollitia officiis repellat eligendi hic, magnam a, dolorem minus quod vitae provident officia eius maiores! Ab quia eius nam eligendi nostrum necessitatibus laudantium ullam 0quasi!
Rerum possimus ipsa ducimus quia iste, ipsum porro esse veritatis sunt consequatur officiis cupiditate eligendi sit dignissimos facere, odit adipisci, molestias commodi laboriosam reiciendis sint. Nisi fugiat magnam exercitationem quod?</p>

{% endblock %}